  body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;'
    background-color: rgba(223, 199, 153, 0.722);
    padding: 0;
    margin: 0;
  }

  .outer {
      max-width: 960px;
      min-height: 100vh;
      background-color: rgba(223, 199, 153, 0.722);
      margin: 0 auto;
  }
  
  
  h1{
    color: #0693e3;
    font-family: "HelveticaNeue" important!;
    font-weight: 50;
  }

.no-purple-color {
    text-decoration: none;
    color: #015a8e;
  }
  
  .no-purple-color:active {
    color:#0693e3;
  }
  
  .header {
    background-color: white;
    padding: 30px;
    text-align: center;
    background-color: rgba(223, 199, 153, 0.722);
  }
  
  #navbar {
    overflow: hidden;
    background-color:rgba(222, 211, 170, 0);
  }
  
  #navbar a {
    float: left;
    display: inline;
    color: rgba(124, 124, 124, 0.763);
    text-align: center;
    padding: 14px 16px;
    margin-inline: 20px;
    text-decoration: none;
    font-size: 13Px;
    font-family: "HelveticaNeue" important!;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
    opacity: 80%;
  }  
  
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  } 

  section {
    width: 100%;
    padding: 50px;
    padding-top: 30px;
    height: 1000px;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0);
  }  
